<html lang="EN">
<head>
    <meta charset='utf-8'>
    <title>MVC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
</head>
<body>
<canvas id='myChart' width='200' height='200'></canvas>
<script>
    createGraph();
    getData();

    const storeIDLabel = []
    const gameDealData = []

    async function createGraph() {
        await getData()
        const ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: storeIDLabel,
                datasets: [{
                    label: 'Best game deals',
                    data: gameDealData,
                    borderWidth: 1
                }]
            }
        });
    }

    async function getData() {
        const gameOfferResponse = await fetch('/getGameOfferTable')
        const gameOfferData = await gameOfferResponse.json()

        console.log(gameOfferData)

        for (const item of gameOfferData) {
            storeIDLabel.push(item.storeID)
            gameDealData.push(item.dealPrice)
        }

        console.log(storeIDLabel)
        console.log(gameDealData)
    }
</script>
</body>
</html>