<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>MVC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

<a href="/createDB">createDB</a><br>
<a href="/createStoreTable">createShopTable</a><br>
<a href="/dropStoreTable">dropShopTable</a><br>
<a href="/createGameOfferTable">createGameOfferTable</a><br>
<a href="/dropGameOfferTable">dropGameOfferTable</a><br>
<a href="/showTables">showTables</a><br>
<a href="/migrateStoreTable">migrateStoreTable</a><br>
<a href="/migrateGameOfferTable">migrateGameOfferTable</a><br>
<a href="/getGameOfferTable">getGameOfferTable</a><br>
<a href="/getShopTable">getShopTable</a><br>
<a href="/home">toHome</a><br>
<a href="/completeMigration">completeMigration</a><br>
<a href="/dropTables">dropTables</a>

</body>

