<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>MVC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

<a href="/createDB">createDB</a>
<a href="/createStoreTable">createShopTable</a>
<a href="/dropStoreTable">dropShopTable</a>
<a href="/createGameOfferTable">createGameOfferTable</a>
<a href="/dropGameOfferTable">dropGameOfferTable</a>
<a href="/showTables">showTables</a>

</body>

